<% unless cart.line_items.empty? %>
<table class="table table-hover">

	<%= render(@cart.line_items) %>
	
	<tr>
		<td colspam="2"><b>Total</b></td>
		<td><b><%= number_to_currency(@cart.total_price) %></b></td>
	</tr>
	
</table>
	<p>
		<%= button_to "Checkout", new_order_path, method: :get, class: 'btn btn-success  btn-mini' %>
		<%= button_to 'Empty cart', @cart, method: :delete,
				 class: 'btn btn-primary  btn-mini', confirm: 'are you sure?' %>
	</p>
	

<% end %>
